<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>00_list</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="../../../static/css/common.css" rel="stylesheet" />
</head>
<body>

<div id="view-wrap" data-layout="list" data-page-id="00-list" aria-hidden="false">
    <div id="content">
        <table>
            <caption>Caption</caption>
            <colgroup>
                <col style="width:0.5rem">
                <col>
                <col>
                <col>
                <col>
                <col>
                <col>
            </colgroup>
            <thead class="sortation">
                <tr>
                    <th scope="col" colspan="8">공통</th>
                </tr>
            </thead>
            <thead>
                <tr>
                    <th scope="col">1Depth</th>
                    <th scope="col">2Depth</th>
                    <th scope="col">3Depth</th>
                    <th scope="col">4Depth</th>
                    <th scope="col">5Depth</th>
                    <th scope="col">화면명</th>
                    <th scope="col">화면타입</th>
                    <th scope="col">화면ID</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>공통</td>
                    <td>메인</td>
                    <td>로그인 전</td>
                    <td></td>
                    <td></td>
                    <td>main</td>
                    <td>페이지</td>
                    <td><a href="login/index.html" target="_blank">index</a></td>
                </tr>
                <tr>
                    <td>공통</td>
                    <td>로그인</td>
                    <td></td>
                    <td></td>
                    <td>회원</td>
                    <td>로그인</td>
                    <td>페이지</td>
                    <td><a href="login/login.html" target="_blank">login</a></td>
                </tr>
                <tr>
                    <td>공통</td>
                    <td>로그인</td>
                    <td>아이디 찾기</td>
                    <td></td>
                    <td></td>
                    <td>아이디 찾기 정보 입력</td>
                    <td>페이지
                    <td><a href="login/findIdForm.html" target="_blank">findIdForm</a></td>
                </tr>
                <tr>
                    <td>공통</td>
                    <td>로그인</td>
                    <td>아이디 찾기</td>
                    <td>아이디 찾기 결과</td>
                    <td>성공</td>
                    <td>아이디 확인</td>
                    <td>페이지</td>
                    <td><a href="login/findIdConfirm.html" target="_blank">findIdConfirm</a></td>
                </tr>
                <tr>
                    <td>공통</td>
                    <td>로그인</td>
                    <td>아이디 찾기</td>
                    <td>아이디 찾기 결과</td></td>
                    <td>실패</td>
                    <td>아이디 재확인</td>
                    <td>페이지</td>
                    <td><a href="login/findIdReConfirm.html" target="_blank">findIdReConfirm</a></td>
                </tr>
                <tr>
                    <td>공통</td>
                    <td>로그인</td></td>
                    <td>비밀번호 찾기</td>
                    <td></td>
                    <td></td>
                    <td>비밀번호 찾기 정보 입력</td>
                    <td>페이지</td>
                    <td><a href="login/findPwForm.html" target="_blank">findPwForm</a></td>
                </tr>
                <tr>
                    <td>공통</td>
                    <td>로그인</td></td>
                    <td>비밀번호 찾기</td>
                    <td>비밀번호 찾기 결과</td>
                    <td>성공</td>
                    <td>임시 비밀번호 발송</td>
                    <td>페이지</td>
                    <td><a href="login/findPwConfirm.html" target="_blank">findPwConfirm</a></td>
                </tr>
                <tr>
                    <td>공통</td>
                    <td>로그인</td></td>
                    <td>비밀번호 찾기</td>
                    <td>비밀번호 찾기 결과</td>
                    <td>실패</td>
                    <td>비밀번호 재확인</td>
                    <td>페이지</td>
                    <td><a href="login/findPwReConfirm.html" target="_blank">findPwReConfirm</a></td>
                </tr>
                <tr>
                    <td>공통</td>
                    <td>로그인</td></td>
                    <td>임시 비밀번호 변경</td>
                    <td></td>
                    <td></td>
                    <td>임시 비밀번호 변경 팝업</td>
                    <td>팝업</td>
                    <td><a href="login/nPwChgPopup.html" target="_blank">nPwChgPopup</a></td>
                </tr>
                <tr>
                    <td>공통</td>
                    <td>로그인</td></td>
                    <td>회원가입</td>
                    <td></td>
                    <td></td>
                    <td>회원가입 정보 입력</td>
                    <td>페이지</td>
                    <td><a href="login/signUpForm.html" target="_blank">signUpForm</a></td>
                </tr>
                <tr>
                    <td>공통</td>
                    <td>로그인</td></td>
                    <td>회원가입</td>
                    <td>완료</td>
                    <td></td>
                    <td>회원가입 완료</td>
                    <td>페이지</td>
                    <td><a href="login/signUpComplete.html" target="_blank">signUpComplete</a></td>
                </tr>
                <tr>
                    <td>공통</td>
                    <td>고객센터</td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>고객센터</td>
                    <td>페이지</td>
                    <td><a href="login/serviceCenter.html" target="_blank">serviceCenter</a></td>
                </tr>
                <tr>
                    <td>공통</td>
                    <td>고객센터</td></td>
                    <td>등록/수정</td>
                    <td></td>
                    <td></td>
                    <td>고객센터 등록/수정</td>
                    <td>페이지</td>
                    <td><a href="login/serviceCenterModify.html" target="_blank">serviceCenterModify</a></td>
                </tr>
                <tr>
                    <td>공통</td>
                    <td>자주하는 질문(FAQ)</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>자주하는 질문</td>
                    <td>게시판</td>
                    <td><a href="login/faqList.html" target="_blank">faqList</a></td>
                </tr>
                <tr>
                    <td>공통</td>
                    <td>공지사항</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>공지사항 목록</td>
                    <td>게시판</td>
                    <td><a href="login/noticeList.html" target="_blank">noticeList</a></td>
                </tr>
                <tr>
                    <td>공통</td>
                    <td>공지사항</td>
                    <td>상세</td>
                    <td></td>
                    <td></td>
                    <td>공지사항 상세</td>
                    <td>게시판</td>
                    <td><a href="login/noticeView.html" target="_blank">noticeView</a></td>
                </tr>
            </tbody>
        </table>
        <table>
            <caption>Caption</caption>
            <colgroup>
                <col style="width:0.5rem">
                <col>
                <col>
                <col>
                <col>
                <col>
                <col>
            </colgroup>
            <thead class="sortation">
                <tr>
                    <th scope="col" colspan="8">관리자</th>
                </tr>
            </thead>
            <thead>
                <tr>
                    <th scope="col">1Depth</th>
                    <th scope="col">2Depth</th>
                    <th scope="col">3Depth</th>
                    <th scope="col">4Depth</th>
                    <th scope="col">5Depth</th>
                    <th scope="col">화면명</th>
                    <th scope="col">화면타입</th>
                    <th scope="col">화면ID</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>공통</td>
                    <td>메인</td>
                    <td>로그인 전</td>
                    <td></td>
                    <td></td>
                    <td>main</td>
                    <td>페이지</td>
                    <td><a href="login/index.html" target="_blank">index</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
